.image-block {
    position: relative;
    display: inline-block;
}
.image-block .btn.btn-danger {
    position: absolute;
    top: -2px;
    right:  -2px;
    padding: 0;
    line-height: 1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-weight: bold;
    text-align: center;
    z-index: 10;
}
.image-block:hover img {
    opacity: .6;
}
.card-img-top {
    display: block;
    margin: 0 auto;
    height: 250px;
    width: auto;
}
a {text-decoration: none !important;}
